@using System.Data
@model DataTable
@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>ReleaseDate</th>
            <th>Genre</th>
            <th>Description</th>
            <th></th>
        </tr>


    </thead>
    <tbody>
@foreach (DataRow row in Model.Rows) {
        <tr>
            <td>@(row.Field<int>(0))</td>
            <td>@(row.Field<string>(1))</td>
            <td>@(row.Field<DateTime?>(2))</td>
            <td>@((Genre)row.Field<Genre>(3))</td>
            <td>@(row.Field<string>(4))</td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=row.Field<int>(0) }) |
                    @Html.ActionLink("Details", "Details", new { id=row.Field<int>(0) }) |
                    @Html.ActionLink("Delete", "Delete", new { id=row.Field<int>(0) })
            </td>
        </tr>
}
    </tbody>
</table>
