
@{
    ViewData["Title"] = "Index";
    //Layout = "Layout";
}

    <div class="container">

     
    @DateTime.Now
    <br />
    @DateTime.MaxValue
    @ViewBag.MyName
    <br/>
    @foreach (var item in ViewBag.Ex)
    {
        <p>@item</p>
    }
    <pre>
        @ViewBag.movie.Id
        @ViewBag.movie.Title
        @ViewBag.movie.Description
        @ViewBag.movie.Genre
        @ViewBag.movie.ReleaseDate
    </pre>
    
    <table class="table table-sm table-bordered table-stripes"> 
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genger</th>
                <th>Realse Date</th>
                <th>Description</th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.movies)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.ReleaseDate</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
    <h2>using view data</h2>
    <h1>@ViewData["newName"]</h1>
    @ViewData["arr"]
    @foreach (var item in (int[])ViewData["arr"])
    {
        <li>@item</li>
    }
    <h2>
        <pre>
            @{
                    var mv = (Movie?)ViewData["mv"];
                    var x = 100;
                var y = 1000;
                string add = "Siem reap";
                @x
                @y
                @add
            }
        
            @mv?.Id
            @mv?.Title
            @mv?.Genre
            @mv?.ReleaseDate
            @mv?.Description
        </pre>
    </h2>
    <table class="table table-sm table-bordered table-stripes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genger</th>
                <th>Realse Date</th>
                <th>Description</th>
            </tr>
        </thead>
        @{
            var mvs = (Movie[]?)ViewData["mvs"];
                @:sdgshdghsgdhsgdhsgd
                <text>
                sdshdshd
                sdjsdhsvdys
                sdjsdhsduv
                sdjsydfsudf
                sdgsdfu
                </text>
        }
        @foreach (var item in mvs??Enumerable.Empty<Movie>())
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.ReleaseDate</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
    </div>



@section Scripts{
    <script>
    </script>
}

@section Styles{
    <style>
        
    </style>
}

        @section search{
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
        }